nav {
    background: red;
    color: white;
    text-align: center;
    position: fixed;
    top: 30%;
    left: 0;
    width: 100%;
}

.code {
    padding: 7px;
    font-size: 23px;
}

.clickmoi {
    border: 0px;
    padding: 10px;
    font-size: 23px;
    border-radius: 2px;
    color: white;
    background: blue;
    cursor: pointer;
}

#valCAPTCHA {
    text-transform: uppercase;
}